/* 
@规则
    @charset    设置样式表的编码
    @import     导入其他样式文件
    @media      媒体查询
    @font-face  自定义字体
*/

@import "reset.css";

@font-face {
    font-family: "iconfont";
    src: url("../font/iconfont.eot");
    src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"),
        url("../font/iconfont.woff2") format("woff2"),
        url("../font/iconfont.woff") format("woff"),
        url("../font/iconfont.ttf") format("truetype"),
        url("../font/iconfont.svg#iconfont") format("svg");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* --- 头部信息 --- */
#headMessage li {
    float: left;
    line-height: 35px;
    padding: 0 6px;
    font-size: 0;
}

#headMessage a {
    color: #6c6c6c;
    font-size: 12px;
}

#headMessage a:hover {
    color: #f40;
}

#headMessage .login {
    color: #f22e00;
}

#headMessage span {
    font-size: 12px;
}

#headMessage span.arrow {
    font-size: 12px;
    margin-left: 7px;
}

#headMessage li strong {
    color: #f22e00;
    font-size: 12px;
}

#headMessage li span.store {
    color: #9c9c9c;
}

#headMessage li.line {
    color: #ddd;
    font-size: 12px ;
    margin: 0 5px;
}

/* --- 头部广告 --- */
#headAd{
    background-color: #f12f04;
}

#headAd .go{
    display: block;
    padding: 10px 10px 10px 15px;
}

#headAd .go img{
    width: 80px;
    height: 80px;
}
#headAd li{
    float: left; 
    width: 200px;
}